@layer base {
  :root {
    /* adicionar cores  */
    --yellow: #fed800;
    --pink: #ff218c;
    --pink-hover: #ff218c73;
    --yellow-hover: #fed800b4;
    /* --gray-pink: #978a91; */
    --gray-pink: #b17793;
    --gray-yellow: #f3e9b3b4;
  }

  html {
    font-size: 100%;
  }
  body {
    text-align: center;
    background-color: var(--gray-yellow);
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--pink);
    text-shadow: 1px 0 var(--yellow-hover);
    padding-bottom: 30px;
  }

  ul,
  li,
  a {
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: var(--yellow);
  }
  a:hover {
    color: var(--pink);
    font-weight: bold;
  }

  hr {
    border-top: 10px;
    border-style: dotted none none none;
    color: var(--yellow);
    width: 20%;
    margin: 40px auto 40px;
  }
}

@layer header {
  .top-container {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: var(--pink-hover);
    color: var(--yellow);
    border-radius: 12px;
    position: fixed;
    width: 100vw;
  }

  header > h2 {
    font-size: 1.2rem;
    padding: 0;
    padding-left: 10px;
    text-shadow: 1px 0 var(--pink);
    color: var(--yellow);
  }

  .menu-link > ul {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    font-size: 0.75rem;
    color: var(--pink);
    padding-right: 10px;
    font-weight: bold;
  }
}
@layer apresentacao {
  .apresentacao > p {
    width: 80%;
    margin: auto;
    text-align: justify;
  }
  .apresentacao_img {
    width: 100vw;
    border-radius: 12px;
  }
}
@layer trabalhos {
  .trabalho-imagem {
    border: 2px solid var(--yellow-hover);
    width: 350px;
    height: 350px;
    border-radius: 12px;
    margin: 10px;
  }
}

@layer contato {
}

@media only screen and (min-width: 768px) {
  @layer header {
    header > h2 {
      font-size: 2rem;
    }
    .menu-link > ul {
      font-size: 1.2rem;
    }
  }

  @layer apresentacao {
    .apresentacao > p {
      font-size: 1.2rem;
    }
  }

  @layer trabalhos {
    .trabalho-eventos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  @layer apresentacao {
    h1 {
      font-size: 2.5rem;
      padding: 15px;
    }

    .apresentacao > p {
      font-size: 2rem;
    }
  }

  @layer trabalhos {
    .trabalho-eventos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
    }
  }
}
