@layer base {
  :root {
    /* adicionar cores  */
    --yellow: #fed800;
    --pink: #ff218c;
    --pink-hover: #ff218c73;
    --yellow-hover: #fed800b4;
    /* --gray-pink: #978a91; */
    --gray-pink: #b17793;
    --gray-yellow: #f3e9b3b4;
  }

  html {
    font-size: 100%;
  }
  body {
    text-align: center;
    background-color: var(--gray-yellow);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  body,
  img {
    margin: 0;
  }

  ul,
  li,
  a {
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: var(--yellow);
  }
  a:hover {
    color: var(--pink);
    font-weight: bold;
  }

  hr {
    border-top: 10px;
    border-style: dotted none none none;
    color: var(--yellow);
    width: 20%;
  }
}

@layer header {
  .top-container {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: var(--gray-pink);
    color: var(--yellow);
    border-radius: 12px 12px 0 0;
  }

  header > h2 {
    font-size: 1.2rem;
    padding-left: 10px;
    text-shadow: 1px 0 var(--pink);
  }

  .menu-link > ul {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 0.75rem;
    color: var(--pink);
    padding: 10px;
  }
}
@layer apresentacao {
  h1 {
    color: var(--pink);
    text-shadow: 1px 0 var(--yellow);
    padding-bottom: 10px;
  }
  .apresentacao > p {
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-bottom: 10px;
  }
  .apresentacao_img {
    width: 100vw;
    border-radius: 0 0 12px 12px;
  }
}
@layer trabalhos {
  .trabalho-eventos {
  }

  .trabalho-eventos_evento {
  }

  .trabalho-imagem {
    border: 2px solid var(--yellow-hover);
    width: 100px;
    height: 100px;
  }
}
